# dbt
dbt_project/target/
dbt_project/logs/
dbt_project/.user.yml

# Python
__pycache__/
*.pyc
.env

# Data outputs
data_files/cleaned/

# OS
.DS_Store
Thumbs.db
lambda_package/
lambda_deployment.zip
